@charset "utf-8";

body{
    background-color: rgb(222, 228, 228);
}

.dark-blue{
    background-color: #15337f;
}


                                            /* Resetores */

.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #15337f;
}

/* Resetor do burger-menu */
.navbar-light .navbar-toggler-icon {
    /* background-image: url('../img/'); */
    background-image: url('../img/menu-512.png') !important;

}

.navbar-light .navbar-toggler {
    /* color: rgba(0,0,0,.5); */
    border-color: rgba(0,0,0,0);
}

.navbar-light .navbar-toggler:active{
    /* color: rgba(0,0,0,.5); */
    border-color: rgba(0,0,0,0) !important;
}

                                            /* Login */


.login-card{
    margin-top: 25%;
}


.icone-estoque{
    width: 32px;
    height: 32px;
    /* position: absolute; */
    margin:;
}


  .input-login{
    font-weight: bolder;
}

.input-login:focus{
    box-shadow: 0px 0px 5px rgb(104, 102, 102) !important;
    border: none;
    font-weight: bolder;
}



                                    /* Tabela de produtos */

.product-description{
    font-size: 0.8em;
}



                                /* Formulário produto */

.form-label{
    font-weight: bolder;
    font-size: 0.9em;
    margin-bottom: 0px;
}