@charset "utf-8";

body{
    background-color: rgb(222, 228, 228);
}

.dark-blue{
    background-color: #15337f;
}



                                            /* Login */


.login-card{
    margin-top: 25%;
}


.icone-estoque{
    width: 32px;
    height: 32px;
    /* position: absolute; */
    margin:;
}


  .input-login{
    font-weight: bolder;
}

.input-login:focus{
    box-shadow: 0px 0px 5px rgb(104, 102, 102) !important;
    border: none;
    font-weight: bolder;
}