@charset "utf-8"; 


                                                        /* TIPOGRAFIA */
                                                        
@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');








.teko-font{
    font-family: 'Teko', sans-serif;
}

.label-text{
    font-size: 1.2em;
    font-weight: normal;
}

.gray-text{
    color: gray;
}

.text-dark-blue{
    color: #15337f;
    /* text-shadow: 1px 1px 3px black; */
}




